<div class="container">
    <div class="row" >
        <div class="col-sm-6">
            <div class="card" style="width: 25rem; height: 35;">
                <img class="card-img-top" src="https://images.theconversation.com/files/304957/original/file-20191203-66986-im7o5.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="image">
                <div class="card-body">
                  <p class="card-text" style="font-size: larger;"><strong>Do you know the doctor's name?</strong> </p>
                  <a routerLink="/findbyname" class="btn btn-primary" style="font-size: larger;"><strong>Let's find ?</strong></a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 25rem; height: 35;">
                <img class="card-img-top" src="https://cdn.newsfirst.lk/english-uploads/2020/01/524cda7d-kandy-teaching-hospital-edited_850x460_acf_cropped.jpg" alt="image">
                <div class="card-body">
                  <p class="card-text" style="font-size: larger;"><strong>Hey do you looking for a hospital?</strong></p>
                  <a routerLink="/findbyhospital" class="btn btn-primary" style="font-size: larger;">Search it?</a>
                </div>
              </div>
        </div>
      </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
      <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 25rem; height: 35;">
                <img class="card-img-top" src="https://static.toiimg.com/img/71882163/Master.jpg?imgsize=158400" alt="image">
                <div class="card-body">
                  <p class="card-text" style="font-size: larger;"><strong>Are you looking for a doctor tomorrow</strong></p>
                  <a routerLink="/findbydate" class="btn btn-primary" style="font-size: larger;">Check out here</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 25rem; height: 35;">
                <img class="card-img-top" src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX20093104.jpg" alt="image">
                <div class="card-body">
                  <p class="card-text" style="font-size: larger;"><strong>Looking for a specialist?</strong></p>
                  <a routerLink="/findbyspeciality" class="btn btn-primary" style="font-size: larger;">Lest's find one</a>
                </div>
              </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
</div>
